.lyAbout{
	width: 798px;
	padding: 0 32px 0 31px;
	background: white;
	float: left;
}

.ly_welcome {
	width: 100%;
	float: left;
}

#all {
	font: 32px/32px "'Raleway', sans-serif";
	margin: 39px 0 37px 0;
	color: #fa4b2a;
	font-weight: 600;
}

.welImg img {
	width: 100%;
}

.aboText {
	width: 99%;
	float: left;
}

.aboText p {
	font: 14px/26px "arial, helvetica, sans-serif";
	color: #777;
}

.textTop {
	padding: 15px 0;
}

.textBottom {
	padding-bottom: 15px;
}

.ly_meetOurTeam {
	width: 100%;
	float: left;
	padding-bottom: 20px;
}

.per_team {
	width: 100%;
	float: left;
}

.fig {
	width: 50%;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width: 337px;
}

.fig img {
	width: 100%;
	height: 297px;
}

.p-mask {
	position: absolute;
	width: 100%;
}

.fig p {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc( 100% - 40px);
	height: 60px;
	font: 14px/20px "Open Sans, sans-serif";
	padding: 0 20px;
	background: rgba(34, 34, 34, 0.55);
	color: white;
	text-align: center;
}

.fig h5 {
	font-size: 18px;
	color: #fa4b2a;
	margin: 1em 0;
	text-align: center;
	font-weight: 600;
}

.fig span {
	display: block;
	color: #999;
	font-size: 14px;
	margin: .5em 0 0;
}

.fig p {
	text-transform: none;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
}

.fig:hover p {
	padding-top: 25px;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.sal_manager {
	float: left;
}

.manager {
	float: right;
}


/*features*/

.feat_top {
	width: 100%;
}

.feat_top p {
	text-align: left;
	color: #9c9c9c;
	font-size: 14px;
	line-height: 24px;
}

.feat_bottom {
	width: 100%;
	float: left;
}

.feat_grid {
	width: calc(50% - 30px);
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 50px;
}

.grid_img img {
	width: 100%;
}

.grid_text h4 {
	margin: 20px 0;
	font-size: 21px;
	color: #303030;
	font-weight: 700;
}

.grid_text p {
	color: #9c9c9c;
	font-size: 14px;
	line-height: 24px;
}
.ly_meetOurTeam_1{ width: 337px; height: 381px; float: left;}
.ly_box{ width: 337px; height: 297px; overflow: hidden; position: relative;}
.ly_box img{ display: block;}
.ly_box p{ width: 337px; height: 100px; padding: 25px 30px; word-spacing: -3px; font-family: 'Raleway', sans-serif; font-size: 0.875em; line-height: 1.8em; text-align: center; color: #fff; background: rgba(34,34,34,0.55); position: absolute; top: 238px; z-index: 99; transition: 0.5s; -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;}
.ly_box:hover p{ top: 197px; transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; -webkit-transition: 0.5s;}
.ly_meetOurTeam_1 span{ display: block; height: 42px; line-height: 42px; font-size: 1.2em; font-family: 'Raleway', sans-serif; color: #fa4b2a; text-align: center; font-weight: 600; margin-top: 10px;}
.ly_meetOurTeam_1 font{ display: block; height: 22px; line-height: 1.1em; font-size: 0.875em; font-family: 'Raleway', sans-serif; color: #ccc; text-align: center; font-weight: 600;}
