.lh_travel{width: 798px;}
.lh_tr{font-size: 22px;color: #fa4b2a;margin-top: 39px;margin-left: 33px;}
.lh_sint{width: 798px;height: 446px;margin-top: 53px;}
.lh_sint_left{width:337px;height: 446px;float: left;margin-left: 47px;}
.lh_sint_left img{cursor: pointer;}
.lh_sin{margin-top: 18px;}
.lh_sin a{color: #303031;font-size: 14px;}
.lh_sin a:hover{color: #FF0000;}
.lh_date{margin-top: 36px;color: #fa4b2a;font-size: 13px;}
.lh_duis{margin-top: 23px;color: :#999999;font-size: 12px;line-height: 18px;}
.lh_learn{margin-top: 50px;margin-left: 13px;}
.lh_learn a{font-size: 10px;color: #337ab7;}
.lh_learn a:hover{color: #666;}

.lh_sint_right{width:337px;height: 446px;float: right;margin-right: 47px;}
.lh_sint_right img{cursor: pointer;}
.lh_sin{margin-top: 18px;}
.lh_sin a{color: #303031;font-size: 14px;}
.lh_sin a:hover{color: #FF0000;}
.lh_date{margin-top: 36px;color: #fa4b2a;font-size: 13px;}
.lh_duis{margin-top: 23px;color: :#999999;font-size: 12px;line-height: 18px;}
.lh_learn{margin-top: 50px;margin-left: 13px;}
.lh_learn a{font-size: 10px;color: #337ab7;}
.lh_learn a:hover{color: #666;}

