.t-title1{
	width:766px;
	height: 2em;
	margin-top: 39px;
	font-family: 'Raleway', sans-serif;
	padding-left: 32px;
	font-size: 2em;
    color: #fa4b2a;
    font-weight: 600;
}
.t-content1{
	width:798px;
	height: 241px;
	margin-top: 54px;
}
.t-content1 img{
	width:337px;
	height: 241px;
	float:left;
	display:block;
	margin-left:47px;
}
.t-nr{
	width:323px;
	height: 241px;
	display: block;
	float:left;
	margin-left: 30px;
}
.t-nr span{
	width:323px;
	height: 24px;
	font-weight:600;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
    color: #303030;
}
.t-nr font{
	width:323px;
	height: 85px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	margin-top: 28px;
	line-height: 20px;
	font-size: 0.875em;
    color: #9c9c9c;
}
.t-title2{
	width:766px;
	height: 2em;
	margin-top: 63px;
	font-family: 'Raleway', sans-serif;
	padding-left: 32px;
	font-size: 2em;
    color: #fa4b2a;
    font-weight: 600;
}
.t-picter{
	width:798px;
	height: 632px;
	margin-top: 54px;
	margin-bottom: 50px;
}
.t-img1{
	width:316px;
	height: 200px;
	display: block;
	float:left;
	margin-left: 52px;
}
.t-img2{
	width:316px;
	height: 200px;
	display: block;
	float:left;
	margin-left: 18px;
}
.t-img3{
	width:316px;
	height: 200px;
	display: block;
	float:left;
	margin-left: 52px;
	margin-top:20px;
}
.t-img4{
	width:316px;
	height: 200px;
	display: block;
	float:left;
	margin-left: 18px;
	margin-top:20px;
}
.t-img5{
	width:316px;
	height: 200px;
	display: block;
	float:left;
	margin-left: 52px;
	margin-top:20px;
}
.t-img6{
	width:316px;
	height: 200px;
	display: block;
	float:left;
	margin-left: 18px;
	margin-top:20px;
}