<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="bower_components/summernote/dist/summernote.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/reset.css" />
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/information.css" />
		<link rel="stylesheet" href="styles/about.css" />
		<link rel="stylesheet" href="styles/automobile.css" />
		<link rel="stylesheet" href="styles/phone.css" />
		<link rel="stylesheet" href="styles/financial.css" />
		<link rel="stylesheet" href="styles/recreation.css" />
		<link rel="stylesheet" href="styles/venture.css" />
		<link rel="stylesheet" href="styles/product.css" />
		<link rel="stylesheet" href="styles/singlepage.css" />
		<!-- endbuild -->
	</head>

	<body ng-app="1yeoman">
		<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

		<!-- Add your site or application content here -->
		<div class="nav">
			<div class="nav1">
				<img src="images/logo.png" width="74" height="40" />
				<a ui-sref-active="hover" ui-sref="information">INFORMATION</a>
				<a ui-sref-active="hover" ui-sref="product">PRODUCT</a>
				<a ui-sref-active="hover" ui-sref="automobile">AUTOMOBILE</a>
				<a ui-sref-active="hover" ui-sref="phone">PHONE</a>
				<a ui-sref-active="hover" ui-sref="financial">FINANCIAL</a>
				<a ui-sref-active="hover" ui-sref="venture">VENTURE</a>
				<a ui-sref-active="hover" ui-sref="recreation">RECREATION</a>
				<a ui-sref-active="hover" ui-sref="about">ABOUT</a>
			</div>
		</div>
		<div class="banner">
			<div>
				<img src="" width="100%" />
				<img src="" width="100%" />
				<img src="" width="100%" />
				<img src="" width="100%" />
				<img src="" width="100%" />
				<img src="" width="100%" />
			</div>
		</div>
		<div class="tab" ng-controller="index">
			<div class="tab_nav">
				<a ng-click="show1(aa)" ng-class="{abc:aa}">PHONE</a>
				<a ng-click="show2(bb)" ng-class="{abc:bb}">PRODUCT</a>
				<a ng-click="show3(cc)" ng-class="{abc:cc}">VENTURE</a>
			</div>
			<div class="image">
				<tab ng-show="isshow1">
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/85496b98cbc65b4a525a83ddf311cd3b.jpg" width="350" height="220" />
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/54685506a48195239b601122e49ac019.jpg" width="350" height="220" />
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/813125c9f1e82e31339a5e13d0036ed4.jpg" width="350" height="220" />
				</tab>
				<tab ng-show="isshow2">
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/b7c826f54af4e55ab830aee9876f8c08.png" width="350" height="220" />
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/f98fe135c362f757ece45b223ed51ec1.jpg" width="350" height="220" />
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/eb366bbe67412287f0be302a2a11c8c6.jpg" width="350" height="220" />
				</tab>
				<tab ng-show="isshow3">
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/a79422de2de8df78094cf942b1ea4156.jpg" width="350" height="220" />
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/68bbd02fa7cd7460c1d74b1ffe9003cb.jpg" width="350" height="220" />
					<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/ee968461614517fabb2bcbedbd14f74e.jpg" width="350" height="220" />
				</tab>
			</div>
		</div>
		<div class="content">
			<div ui-view="" class="content_left"></div>
			<div class="content_right">
				<div class="popular">
					Popular Posts
				</div>
				<div class="news">
					<img src="" width="89" height="56" />
					<a>Pellentesque dui <br/>Maecenas male</a>
				</div>
				<div class="news">
					<img src="" width="89" height="56" />
					<a>Pellentesque dui <br/>Maecenas male</a>
				</div>
				<div class="news">
					<img src="" width="89" height="56" />
					<a>Pellentesque dui <br/>Maecenas male</a>
				</div>
				<div class="news">
					<img src="" width="89" height="56" />
					<a>Pellentesque dui <br/>Maecenas male</a>
				</div>
				<div class="news" style="border: none;">
					<img src="" width="89" height="56" />
					<a>Pellentesque dui <br/>Maecenas male</a>
				</div>
			</div>
		</div>
		<div class="foot">
			<div class="container">
				<div class="foot-left">
					<span>About Me</span>
					<font>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</font>
					<img />
					<a href="javascript:;" class="bnt1">
						Read More
					</a>
				</div>
				<div class="foot-middle">
					<span>Latest Tweet</span>
					<font>
						Sed do eiusmod tempor Lorem ipsum dolor sit amet, </br>
						consectetur adipisicing elit, sed do eiusmod .</br>
						<a style="color:#f94a29">http://sc.chinaz.com/</a>
					</font>
					<font>
						Consectetur adipisicing Lorem ipsum dolor sit </br>
						amet, consectetur adipisicing elit, sed do eiusmod </br>
						.</br>
						<a style="color:#f94a29">http://sc.chinaz.com/</a>
					</font>
				</div>
				<div class="foot-right">
					<span>Newsletter</span>
					<font>
						Lorem ipsum dolor sit amet, consectetur </br>
						adipisicing elit, sed do eiusmod tempor incididunt</br>
						<input type="text" placeholder=" Your Name" style="margin-top: 20px;">
						<input type="text" placeholder=" Your Email">
						<a href="javascript:;" class="bnt2"> Subscribed Now</a>
					</font>

				</div>
			</div>
		</div>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/summernote/dist/summernote.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/information.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/about.js"></script>
		<script src="scripts/controllers/venture.js"></script>
		<script src="scripts/controllers/product.js"></script>
		<script src="scripts/controllers/financial.js"></script>
		<script src="scripts/controllers/automobile.js"></script>
		<script src="scripts/controllers/recreation.js"></script>
		<script src="scripts/controllers/phone.js"></script>
		<script src="scripts/controllers/singlepage.js"></script>
		<!-- endbuild -->
	</body>
</html>