<div class="lyAbout" ng-controller="about">

	<div class="ly_welcome">
		<h2 id="all">WELCOME</h2>
		<div class="welImg">
			<img src="" width="734" height="342" />
		</div>
	</div>

	<div class="aboText">
		<div class="textTop">
			<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa <br /> pellentesque viveerra. Suspendisse iaculis pirus eget est pretium aliquam ut sed diam. Nullam non magna lobortis, faucibus erat eu, consequat justo. Supendisse commodo nibh odio, vel elementum nulla luctus sit amet.</p>
		</div>
		<div class="textBottom">
			<p>Nulla in tempor lectus. Etiam ac mauris lacinia nulla ultricies porta sit amet eleifend ligula. Quisque tincidunt vitae turpis at efficitur. Pellentesque habitant morbi tristique senectus et netus et <br /> malesuada fames ac turpis egestas. Donec sagittis, magne a sagittis dapibus, ipsum metus interdum <br />lectus,quis feugiat leo ipsum nec diam. </p>
		</div>
	</div>

	<div class="ly_meetOurTeam">

		<h2 id="all">meet our team</h2>

		<div class="ly_meetOurTeam_1">
			<div class="ly_box">
				<img src="" width="337" height="297" />
				<p>Neque porro quisquam est, qui dolorem ipsum.</p>
			</div>
			<span>Laura Mark</span>
			<font>Sales Manager</font>
		</div>
		<div class="ly_meetOurTeam_1" style="margin-left: 32px;">
			<div class="ly_box">
				<img src="" width="337" height="297" />
				<p>Neque porro quisquam est, qui dolorem ipsum.</p>
			</div>
			<span>Joseph Ali</span>
			<font>Manager</font>
		</div>
	</div>
</div>