<div class="lyFeat" ng-controller="automobile">
	<div class="feat_top">
		<h2 id="all">AMAZING FEATURES</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>

	</div>
	<div class="feat_bottom">
		<div class="feat_grid">
			<div class="grid_img">
				<img src="" width="377" height="211" />
			</div>
			<div class="grid_text">
				<h4>Et iusto odio dignissimos</h4>
				<p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>

		<div class="feat_grid">
			<div class="grid_img">
				<img src="" width="377" height="211" />
			</div>
			<div class="grid_text">
				<h4>Ducimus odio dignissimos</h4>
				<p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>

		<div class="feat_grid">
			<div class="grid_img">
				<img src="" width="377" height="211" />
			</div>
			<div class="grid_text">
				<h4>Et iusto odio dignissimos</h4>
				<p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>

		<div class="feat_grid">
			<div class="grid_img">
				<img src="" width="377" height="211" />
			</div>
			<div class="grid_text">
				<h4>Ducimus odio dignissimos</h4>
				<p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</div>