<div ng-controller="venture">
	<div class="t-title1">
		SHORT CODES
	</div>
	<div class="t-content">
		<div class="t-nav1">
			<img src=""/>
			<a class="t-font">
				Sint occaecat cupidatat
			</a>
			<font>
				28 July 2016
			</font>
			<p>
				Duis aute irure dolor in reprehenderit in</br>
				 voluptate velit esse cillum dolore eu fugiat</br> 
				 nulla pariatur.
			</p>
			<a class="t-more">
				Learn More
			</a>
		</div>
		<div class="t-nav2">
			<img src=""/>
			<a class="t-font">
				Sint occaecat cupidatat
			</a>
			<font>
				28 July 2016
			</font>
			<p>
				Duis aute irure dolor in reprehenderit in</br>
				 voluptate velit esse cillum dolore eu fugiat</br> 
				 nulla pariatur.
			</p>
			<a class="t-more">
				Learn More
			</a>
		</div>
		<div class="t-nav1">
			<img src=""/>
			<a class="t-font">
				Sint occaecat cupidatat
			</a>
			<font>
				28 July 2016
			</font>
			<p>
				Duis aute irure dolor in reprehenderit in</br>
				 voluptate velit esse cillum dolore eu fugiat</br> 
				 nulla pariatur.
			</p>
			<a class="t-more">
				Learn More
			</a>
		</div>
		<div class="t-nav2">
			<img src=""/>
			<a class="t-font">
				Sint occaecat cupidatat
			</a>
			<font>
				28 July 2016
			</font>
			<p>
				Duis aute irure dolor in reprehenderit in</br>
				 voluptate velit esse cillum dolore eu fugiat</br> 
				 nulla pariatur.
			</p>
			<a class="t-more">
				Learn More
			</a>
		</div>
		<div class="t-nav1">
			<img src=""/>
			<a class="t-font">
				Sint occaecat cupidatat
			</a>
			<font>
				28 July 2016
			</font>
			<p>
				Duis aute irure dolor in reprehenderit in</br>
				 voluptate velit esse cillum dolore eu fugiat</br> 
				 nulla pariatur.
			</p>
			<a class="t-more">
				Learn More
			</a>
		</div>
		<div class="t-nav2">
			<img src=""/>
			<a class="t-font">
				Sint occaecat cupidatat
			</a>
			<font>
				28 July 2016
			</font>
			<p>
				Duis aute irure dolor in reprehenderit in</br>
				 voluptate velit esse cillum dolore eu fugiat</br> 
				 nulla pariatur.
			</p>
			<a class="t-more">
				Learn More
			</a>
		</div>
		
	</div>
</div>
