<div ng-controller="contact" class="zwd_contact">
	<h2  class="zwd_h2">CONTACT</h2>
	<div class="zwd_contact_main">
		<div class="zwd_main_left">
			<p>Nemo enim ips voluptatem voluptas sitsper natuaut odit aut fugit consequuntur magni dolores eosqratio nevoluptatem  amet eism com odictor ut ligulate cot ameti dapibu</p>
			<form>
				<input ng-focus="focus()" ng-blur="blur()" type="text" class="zwd_name" value="Name"/>
			</form>
		</div>
		<div class="zwd_main_right">
			
		</div>
	</div>
</div>