
		<div class="lh_fashion" ng-controller='financial'>
			<p class="lh_fas">FASHION</p>
			<p class="lh_lorem">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable alteration in some form, by injected humour, or randomised words which don't look even slightly believable, Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
			
			<div class="lh_pic">
				<div class="lh_left">
					<div class="lh_img1">
						<img src="images/lh_img2.jpg">
					</div>
					<div class="lh_img2">
						<img src="images/lh-img5.jpg">
					</div>
					<div class="lh_img3">
						<img src="images/lh-img6.jpg">
					</div>
					<div class="lh_img4">
						<img src="images/lh-img7.jpg">
					</div>
				</div><!--lh_left-->
				
				<div class="lh_right">
					<div class="lh_img5">
						<img src="images/lh-img8.jpg">
					</div>
					<div class="lh_img6">
						<img src="images/lh-img9.jpg">
					</div>
					<div class="lh_img7">
						<img src="images/lh-img10.jpg">
					</div>
					<div class="lh_img8">
						<img src="images/lh-img11.jpg">
					</div>
				</div><!--lh_right-->
			</div><!--lh_pic-->
		</div><!--lh_fashion-->
