<div ng-controller="information">
	<div class="z_induce">
		<img src="" width="734" height="342" />
		<h3><a>Lorem Ipsum is simply</a></h3>
		<h6>BY <a>ADAM ROSE</a> JULY 10 2016.</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<span>Continue Reading</span>
	</div>
	<div style="height: 15px; width: 798px; background: #f7f7f7;"></div>
	<div class="z_induce_mid">
		<div class="z_induce_mid_1">
			<img src="" width="335" height="239" />
			<h3><a>Lorem Ipsum is simply</a></h3>
			<h6>BY <a>ADAM ROSE</a> JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<span>Read More</span>
		</div>
		<div class="z_induce_mid_1">
			<img src="" width="335" height="239" />
			<h3><a>Lorem Ipsum is simply</a></h3>
			<h6>BY <a>ADAM ROSE</a> JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<span>Read More</span>
		</div>
	</div>
	<div style="height: 15px; width: 798px; background: #f7f7f7;"></div>
	<div class="z_induce_bot">
		<img src="" width="335" height="220" />
		<div class="z_induce_bot_1">
			<h3><a>Lorem Ipsum is simply</a></h3>
			<h6>BY <a>ADAM ROSE</a> JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
			<span>Read More</span>
		</div>
	</div>
	<div style="height: 30px; width: 798px; background: #f7f7f7;"></div>
	<div class="z_induce_bot">
		<img src="" width="335" height="220" />
		<div class="z_induce_bot_1">
			<h3><a>Lorem Ipsum is simply</a></h3>
			<h6>BY <a>ADAM ROSE</a> JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
			<span>Read More</span>
		</div>
	</div>
	<div style="height: 30px; width: 798px; background: #f7f7f7;"></div>
	<div class="z_induce_bot">
		<img src="" width="335" height="220" />
		<div class="z_induce_bot_1">
			<h3><a>Lorem Ipsum is simply</a></h3>
			<h6>BY <a>ADAM ROSE</a> JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
			<span>Read More</span>
		</div>
	</div>
</div>