
		<div class="lh_travel" ng-controller='phone'>
			<p class="lh_tr"><b>PHONE</b></p>					
					<div class="lh_sint">
						<div class="lh_sint_left">
							<img src="" width="337px" height="212px">
							<p class="lh_sin"><a href="javascript:;">Sint Occaecat Cupidatat</a></p>
							<p class="lh_date">28 July 2016</p>
							<p class="lh_duis">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p class="lh_learn"><a href="javascript:;">Learn More</a></p>
						</div><!--lh_sint_left-->
						
						<div class="lh_sint_right">
							<img src="" width="337px" height="212px">
							<p class="lh_sin"><a href="javascript:;">Sint Occaecat Cupidatat</a></p>
							<p class="lh_date">28 July 2016</p>
							<p class="lh_duis">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p class="lh_learn"><a href="javascript:;">Learn More</a></p>
						</div><!--lh_sint_right-->
					</div><!--lh_sint-->
					
					<div class="lh_sint">
						<div class="lh_sint_left">
							<img src="" width="337px" height="212px">
							<p class="lh_sin"><a href="javascript:;">Sint Occaecat Cupidatat</a></p>
							<p class="lh_date">28 July 2016</p>
							<p class="lh_duis">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p class="lh_learn"><a href="javascript:;">Learn More</a></p>
						</div><!--lh_sint_left-->
						
						<div class="lh_sint_right">
							<img src="" width="337px" height="212px">
							<p class="lh_sin"><a href="javascript:;">Sint Occaecat Cupidatat</a></p>
							<p class="lh_date">28 July 2016</p>
							<p class="lh_duis">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p class="lh_learn"><a href="javascript:;">Learn More</a></p>
						</div><!--lh_sint_right-->
					</div><!--lh_sint-->
					
					<div class="lh_sint">
						<div class="lh_sint_left">
							<img src="" width="337px" height="212px">
							<p class="lh_sin"><a href="javascript:;">Sint Occaecat Cupidatat</a></p>
							<p class="lh_date">28 July 2016</p>
							<p class="lh_duis">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p class="lh_learn"><a href="javascript:;">Learn More</a></p>
						</div><!--lh_sint_left-->
						
						<div class="lh_sint_right">
							<img src="" width="337px" height="212px">
							<p class="lh_sin"><a href="javascript:;">Sint Occaecat Cupidatat</a></p>
							<p class="lh_date">28 July 2016</p>
							<p class="lh_duis">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p class="lh_learn"><a href="javascript:;">Learn More</a></p>
						</div><!--lh_sint_right-->
					</div><!--lh_sint-->					
		</div><!--lh_travel-->
