<div class="w798px" ng-controller="singlepage" style="padding-bottom: 50px;">
	<h3 class="zwd_h3">SINGLE PAGE</h3>
	<div class="zwd_single">
		<img ng-src="http://123.56.227.177/bi2/public/sat_upload/images/{{data.img}}" width="734" height="342" />
		<h5 class="zwd_h5">{{data.title}}</h5>
		<p class="zwd_sub" ng-bind-html="data.content"></p>
		<p class="zwd_aug">
			{{data.date}}
		</p>
	</div>
	<!--<div class="zwd_response">
		<h4 class="zwd_h4">Responses</h4>
		<div class="zwd_info">
			<div class="zwd_info_left">
				<a href="javascript:;">
					<img src="img/sin1.jpg" />
				</a>
			</div>
			<div class="zwd_info_right">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<ul>
					<li>Jun 21, 2016</li>
					<li>
						<a href="javascript:;">Reply</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="zwd_info">
			<div class="zwd_info_left">
				<a href="javascript:;">
					<img src="img/sin2.jpg" />
				</a>
			</div>
			<div class="zwd_info_right">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<ul>
					<li>July 17, 2016</li>
					<li>
						<a href="javascript:;">Reply</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="zwd_info">
			<div class="zwd_info_left">
				<a href="javascript:;">
					<img src="img/sin1.jpg" />
				</a>
			</div>
			<div class="zwd_info_right">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<ul>
					<li>Jul 22, 2016</li>
					<li>
						<a href="javascript:;">Reply</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="zwd_info">
			<div class="zwd_info_left">
				<a href="javascript:;">
					<img src="img/sin2.jpg" />
				</a>
			</div>
			<div class="zwd_info_right">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<ul>
					<li>Aug 01, 2016</li>
					<li>
						<a href="javascript:;">Reply</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="zwd_from">
		<h4 class="zwd_h4">Leave your comment</h4>
		<input type="text" class="zwd_name" value="Name" onfocus="this.value='';" onblur="if(this.value==''){this.value='Name';}" />
		<input type="email" class="zwd_email" value="Email" onfocus="this.value='';" onblur="if(this.value==''){this.value='Email';}" />
		<input type="text" class="zwd_website" value="Website" onfocus="this.value='';" onblur="if(this.value==''){this.value='Website';}" />
		<textarea class="zwd_comment" onfocus="this.value='';" onblur="if(this.value==''){this.value='Your Comment...';}">Your Comment...</textarea>
		<input type="submit" class="zwd_submit" value="Submit Comment" />
	</div>-->
</div>